<?php
$_sharingText = Mage::getStoreConfig('social_share/wishlist_share');
$_wishcode = Mage::app()->getRequest()->getParam('wish_share_code');
$_userName = $this->getUserDataFromWishlist($_wishcode);
?>

<?php if ($_userName): ?>
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="<?php echo $_sharingText['sharetitle'];?>">
    <meta itemprop="description" content="<?php echo $_sharingText['sharedescription'] . " " . $_userName ;?>">
    <meta itemprop="image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="<?php echo $_sharingText['sharetitle'];?>">
    <meta name="twitter:description" content="<?php echo $_sharingText['sharedescription'] . " " . $_userName ;?>">
    <meta name="twitter:image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>">

    <!-- Open Graph data -->
    <meta property="og:title" content="<?php echo $_sharingText['sharetitle'];?>" />
    <meta property="og:description" content="<?php echo $_sharingText['sharedescription'] . " " . $_userName ;?>"/>
    <meta property="og:image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>" />
<?php endif; ?>


<script type="text/javascript">
    jQuery(document).ready(function() {
        document.title = 'Wishlist di ' + '<?php echo $_userName ?>';
    });
</script>