<?php
$_sharingText = Mage::getStoreConfig('social_share/order_share');
$_orderId = Mage::app()->getRequest()->getParam('order_id');
?>

<?php if ($_orderId):?>
<?php
    $_order = Mage::getModel('sales/order')->loadByIncrementId($_orderId);
    $currentUserName = $_order->getCustomerName();
?>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="<?php echo $_sharingText['sharetitle'];?>">
    <meta itemprop="description" content="<?php echo $_sharingText['sharedescription'] . " " . $currentUserName ;?>">
    <meta itemprop="image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>">

    <!-- Twitter Card data -->
    <meta name="twitter:title" content="<?php echo $_sharingText['sharetitle'];?>">
    <meta name="twitter:description" content="<?php echo $_sharingText['sharedescription'] . " " . $currentUserName ;?>">
    <meta name="twitter:image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>">

    <!-- Open Graph data -->
    <meta property="og:title" content="<?php echo $_sharingText['sharetitle'];?>" />
    <meta property="og:description" content="<?php echo $_sharingText['sharedescription'] . " " . $currentUserName ;?>"/>
    <meta property="og:image" content="<?php echo $this->getSkinUrl(Mage::getStoreConfig('design/header/logo_src')); ?>" />
<?php endif; ?>


<script type="text/javascript">
    jQuery(document).ready(function() {
        document.title = 'Ordine di ' + '<?php echo $currentUserName ?>';
    });
</script>