<?php
$_orderId = Mage::app()->getRequest()->getParam('order_id');
$_hash = Mage::app()->getRequest()->getParam('protected');
?>

<?php if ($_orderId):?>
    <?php  $_order = Mage::getModel('sales/order')->loadByIncrementId($_orderId); ?>
    <?php if ($_hash === md5($_orderId.$_order->getCustomerEmail())):?>
        <p><?php echo $this->__('Order # %s.', $this->escapeHtml($_orderId)) ?></p>
        <?php $_items = $_order->getItemsCollection();?>
        <?php foreach ($_items as $_item): ?>
            <?php if ($_item->getParentItem()) continue; ?>
            <?php $_product = Mage::getModel('catalog/product')->load($_item->getProductId());?>
            <?php $productUrl = $_product->getProductUrl();?>

            <div style="float:left;"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(50); ?>" /></div>
            <div style="float: left; width: 615px; margin-left: 20px;">
                <h2><?php echo $_item->getName();?></h2>
                <div style="font-size:12px;"><?php echo $_product->getShortDescription();?></div>
            </div>
            <div class="social-likes" data-url="<?php echo $_product->getProductUrl(); ?>" >
                <div class="facebook" title="Share link on Facebook">Facebook</div>
                <div class="twitter" title="Share link on Twitter">Twitter</div>
                <div class="plusone" title="Share link on Google+">Google+</div>
            </div>
            <?php $_product->unsRequestPath(); ?>
            <div style="clear:both; margin-bottom:15px;"></div>
        <?php endforeach; ?>
    <?php else: ?>
        <?php echo Mage::app()->getResponse()->setRedirect(Mage::getBaseUrl()); ?>
    <?php endif; ?>
<?php else: ?>
    <?php
    //redirect to HP
    //or show msg no products in the wishlist
    echo Mage::app()->getResponse()->setRedirect(Mage::getBaseUrl());
    ?>
<?php endif; ?>

