<?php
$_wishlist = $this->getParentBlock()->getParentBlock()->getWishlistInstance();
$_sharingCode = $_wishlist->getSharingCode();
?>

<?php if ($_wishlist->getItemsCount() > 0): ?>
    <div class="social-likes" data-url="<?php echo $this->getWishShareLink($_sharingCode, $_wishlist); ?>" data-title="<?php echo $this->__('Wishlist Page') ?>" >
        <div class="facebook" title="Share link on Facebook">Facebook</div>
        <div class="twitter" title="Share link on Twitter">Twitter</div>
        <div class="plusone" title="Share link on Google+">Google+</div>
    </div>
<?php endif ?>


