<?php 
/* 1 -> only order
   2 -> only products
   3 -> both
  */
$sharingType = Mage::getStoreConfig('social_share/order_share/ordersharetype'); 
?>

<div class="page-title">
    <h1><?php echo $this->__('Your order has been received.') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<h2 class="sub-title"><?php echo $this->__('Thank you for your purchase!') ?></h2>
<div style="clear:both; margin-bottom:15px;"></div>

<?php if ($this->getOrderId()):?>
<?php  $_order = Mage::getModel('sales/order')->loadByIncrementId($this->getOrderId()); ?>
<?php $_items = $_order->getItemsCollection(); ?>
<?php foreach ($_items as $_item): ?>
<?php if ($_item->getParentItem()) continue; ?>
<?php $_product = Mage::getSingleton('catalog/product')->load($_item->getProductId());?>
<?php $productUrl = $_product->getProductUrl();?>

	<div style="float:left;"><img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(50); ?>" /></div>
	<div style="float: left; width: 615px; margin-left: 20px;">
		<h2><?php echo $_item->getName();?></h2>
		<div style="font-size:12px;"><?php echo $_product->getShortDescription();?></div>
	</div>
	<?php if($sharingType == "2" || $sharingType == "3" ) :?>
        <div class="social-likes" data-url="<?php echo $_product->getProductUrl(); ?>" >
            <div class="facebook" title="Share link on Facebook">Facebook</div>
            <div class="twitter" title="Share link on Twitter">Twitter</div>
            <div class="plusone" title="Share link on Google+">Google+</div>
        </div>
	<?php endif;?>
        <?php $_product->unsRequestPath(); ?>
	<div style="clear:both; margin-bottom:15px;"></div>
<?php endforeach; ?>


<?php if ($this->getCanViewOrder()) :?>
    <p><?php echo $this->__('Your order # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
<?php  else :?>
    <p><?php echo $this->__('Your order # is: %s.', $this->escapeHtml($this->getOrderId())) ?></p>
<?php endif;?>
    <p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
<?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
    <p>
        <?php echo $this->__('Click <a href="%s" onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.', $this->getPrintUrl()) ?>
        <?php echo $this->getChildHtml() ?>
    </p>
<?php endif;?>
<?php endif;?>

<?php if($sharingType == "1" || $sharingType == "3" ) :?>
	<p><?php echo $this->__('Share entire order:') ?></p>
	<div class="social-likes" data-url="<?php echo $this->getUrl('ordershare/index/share', array('order_id' => $this->getOrderId(), 'protected' => md5($this->getOrderId().$_order->getCustomerEmail()))); ?>" >
		<div class="facebook" title="Share link on Facebook">Facebook</div>
		<div class="twitter" title="Share link on Twitter">Twitter</div>
		<div class="plusone" title="Share link on Google+">Google+</div>
	</div>
<?php endif;?>

<?php if ($this->getAgreementRefId()): ?>
    <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
<?php endif;?>


<?php if ($profiles = $this->getRecurringProfiles()):?>
<p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
<ul class="disc">
<?php foreach($profiles as $profile):?>
<?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
    <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
<?php endforeach;?>
</ul>
<?php endif;?>
<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>

