<?php
$_wishcode = Mage::app()->getRequest()->getParam('wish_share_code');
$_wishlistDataCollection = $this->getWishlistEntity($_wishcode);
?>

<?php if ($_wishlistDataCollection): ?>
    <div class="my-wishlist">
        <h1><?php echo $this->__('Wishlist Page'); ?></h1>
        <?php foreach ($_wishlistDataCollection as $_item): ?>
            <?php if ($_item->getParentItem()) continue; ?>
            <?php $_product =  Mage::getSingleton('catalog/product')->load($_item->getProductId());?>
                <?php $_productUrl = $_product->getProductUrl();?>
            <div style="float:left;">
                <a href="<?php echo $_productUrl;?>" title="<?php echo $_product->getName();?>" class="product-image" >
                    <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(50); ?>" /></div>
                </a>
            <div style="float: left; width: 615px; margin-left: 20px;">
                <h2>
                    <a href="<?php echo $_productUrl;?>" title="<?php echo $_product->getName();?>" ><?php echo $_product->getName();?></a>
                </h2>
                <div style="font-size:12px;"><?php echo $_product->getShortDescription();?></div>
            </div>
        <?php $_product->unsRequestPath(); ?>
        <?php endforeach; ?>
    </div>
<?php else: ?>
    <?php
        //redirect to HP
        //or show msg no products in the wishlist
        echo Mage::app()->getResponse()->setRedirect(Mage::getBaseUrl());
    ?>
<?php endif; ?>

